* {
    margin: 0px;
    padding: 0px;
}
.sc-list-item-view {
    -moz-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
body {
    background: #fff url(/images/gradient.jpg) repeat-x;
    padding-top: 50px;
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: #000;
}
div#container {
    width: 744px;
    margin: 0px auto;
}
/********Content ********/
div#content {
    background: #fff url(/images/content-bg.png) repeat-x;
    border: 1px solid #ABABAB;
    padding: 20px 28px;
    border-top: none;
    height: 366px;
}

textarea.userInfoField {
	font-size:12px;
	font-family: Monaco, "Courier New", monospace;
}

div#errorMessage {
	margin-top:4px;
	margin-bottom:2px;
}

/*## files ##*/

div#filelist {
    width: 408px;
    height: 334px;
    border: 1px solid #d4d4d4;
    float: left;
    margin-right: 21px;
    overflow: auto;
}
div#filelist li {
    padding: 5px 0px 5px 25px;
    height: 1em;
    clear: left;
}
div#filelist li.file {
    background-image: url(/images/file.png);
    background-repeat: no-repeat;
}
div#filelist li.folder {
    background-image: url(/images/folder.png);
    background-repeat: no-repeat;
}
div#filelist li:hover, div#filelist li.odd:hover {
    background-color: #C7D3E9;
}
div#filelist li.odd{
    background-color: #EBEBEB;
}
div#filelist li.selected{
    background-color: #C7D3E9;
}
div#filelist li span {
    display: block;
    float: left;
}
div#filelist li span.filename {
    width: 165px;
}
div#filelist li span.info {
    text-align: center;
    width: 100px;
}
div#filelist li span.date {
    text-align: right; 
    width: 100px;
}
div#filepreview {
    width: 249px;
    height: 334px;
    border: 1px solid #d4d4d4;
    float: left;
    overflow: auto;
}

/******** Footer ********/
div#footer {
    color: #7D7D7D;
    text-align: center;
    clear: both;
}

