<% content_for('body') do %>
<div id="container">
	<%= view :navigation_view, :view => "Frontend.NavigationView" %> 
	<div id="content">
		<%= container_view :contentView, :outlet => true %>
	</div>
	<div id="footer">
		Connected to: not connected
	</div>
</div>
<% end %>
