<% content_for('body') do %>
<div id="container">
	<%= view :navigation_view, :view => "Frontend.NavigationView" %> 
	<div id="content">
		<%= container_view :content_view %>
	</div>
<!--
	<div id="footer">
		Connected to: not connected
	</div>
-->
</div>
<audio id="snd_chat"   src="sounds/chat.wav"/>
<audio id="snd_invite" src="sounds/invite.wav"/>
<audio id="snd_pm"     src="sounds/pm.wav"/>
<% end %>
