<% view :chatView do %>
<div id="chat_main">
	<% scroll_view :chat_history_scroll_view, :outlet => true do %>
		<%= list_view :chat_history_view, :outlet => true,
			:content_value_key => 'message',
			:bind => {
				:content => 'Frontend.chatHistoryController.arrangedObjects'
			} %>
	<% end %>
	<div id="chat_message">
		<p>
			<%= text_field_view :outlet => :chatMessage, :class => 'new_message', :hint => loc(%(Chat_Enter)) %>
			<%= button_view :outlet => :sendButton, :class => 'send_button',
						:label => loc(%(Chat_Send)), :default => true,
						:enabled => true, :action => 'Frontend.chatController.send' %>
		</p>
	</div>
</div>
<% scroll_view :userlist_scroll_view, :outlet => true do %>
	<%= list_view :userlist_view, :outlet => true,
		:content_value_key => 'nick', :content_icon_key => 'icon',
		:bind => {
			:content => 'Frontend.userlistController.arrangedObjects',
			:selection => 'Frontend.userlistController.selection'
		} %>
<% end %>
<div class="tools">
	<ul>
		<li id="tool_sendpm"><div><a href="#">Send PM</a></div></li>
		<li id="tool_privatechat"><div><a href="#">Private Chat</a></div></li>
		<li id="tool_userinfo"><div><a href="#">User Info</a></div></li>
		<li id="tool_changename"><div><a href="#">Change Name</a></div></li>
	</ul>
</div>
<% end %>
