* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #fff url(/images/gradient.jpg) repeat-x;
    padding-top: 50px;
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: #000;
}
div#container {
    width: 744px;
    margin: 0px auto;
}
/********Content ********/
div#content {
    background: #fff url(/images/content-bg.png) repeat-x;
    border: 1px solid #ABABAB;
    padding: 20px 28px;
    border-top: none;
    height: 366px;
}

/*## files ##*/

div#filelist {
    width: 408px;
    height: 334px;
    border: 1px solid #d4d4d4;
    float: left;
    margin-right: 21px;
    overflow: auto;
}
div#filelist li {
    padding: 5px 0px 5px 25px;
    height: 1em;
    clear: left;
}
div#filelist li.file {
    background-image: url(/images/file.png);
    background-repeat: no-repeat;
}
div#filelist li.folder {
    background-image: url(/images/folder.png);
    background-repeat: no-repeat;
}
div#filelist li:hover, div#filelist li.odd:hover {
    background-color: #C7D3E9;
}
div#filelist li.odd{
    background-color: #EBEBEB;
}
div#filelist li.selected{
    background-color: #C7D3E9;
}
div#filelist li span {
    display: block;
    float: left;
}
div#filelist li span.filename {
    width: 165px;
}
div#filelist li span.info {
    text-align: center;
    width: 100px;
}
div#filelist li span.date {
    text-align: right; 
    width: 100px;
}
div#filepreview {
    width: 249px;
    height: 334px;
    border: 1px solid #d4d4d4;
    float: left;
    overflow: auto;
}

/******** Footer ********/
div#footer {
    color: #7D7D7D;
    text-align: center;
    clear: both;
}

/******** Navigation ********/
div#navigation {
    background: #444 url(/images/nav.jpg) no-repeat;
    background: none;
    border-bottom: 1px solid #ABABAB;
    height: 53px;
    font-size: 1.1em;
}
div#navigation ul {
    height: 53px;
    list-style: none;
    margin: 0px 112px;
}
div#navigation ul li {
    display: block;
    float: left;
    padding-right: 15px;
}

div#navigation ul li div a {
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    padding-top: 25px;
    padding-left: 36px;
    height: 28px;
    color: #000;
}
div#navigation ul li.front div {
    background: url(/images/front-line.png) no-repeat right bottom;
    padding-right: 15px;
}
div#navigation ul li.back {
}
div#navigation ul li.front, div#navigation ul li.front:hover {
    border-bottom: 1px solid #EAEAEA;
    background: url(/images/front.png) no-repeat;
    padding-right: 0px;
}
div#navigation ul li#chat div a {
    background-image: url(/images/chat.png);
}
div#navigation ul li#private div a {
    background-image: url(/images/private.png);
}
div#navigation ul li#news div a {
    background-image: url(/images/news.png);
}
div#navigation ul li#files div a {
    background-image: url(/images/files.png);
}
div#navigation ul li#connection div a {
    background-image: url(/images/connection.png);
}
div#navigation ul li:hover {
    background-image: url(/images/hover.png);
}

/* @end */

