/*## chat ##*/

div#chat_main {
	width: 488px;
	height: 334px;
	float: left;
	margin-right: 21px;
	line-height: 1.5em;
}
div#chat_main div#chat_history_scroll_view {
	border: 1px solid #d4d4d4;
	height: 304px;
	width: 488px;
}
div#chat_main div#chat_history_scroll_view div#chat_history_view {
	height: 303px;
}
div#chat_history_view div.sc-list-item-view {
	padding:0;
}
div#chat_history_view div.sc-list-item-view span.sc-label {
	font-family: Monaco, "Courier New", monospace;
	font-size: 11px;
}
div#chat_main div#chat_message {
	padding-top: 5px;
}
div#chat_main div#chat_message input.new_message {
	width: 399px;
	margin-right: 5px;
}
div#content .admin {
	color: #AA101F;
}
div#userlist_scroll_view {
	border: 1px solid #d4d4d4;	
	height: 330px;
}
div#userlist_view div.sel {
	background-color: #C7D3E9;
	border-color: #C7D3E9;
	color:#000;
}
div#chat_users {
	width: 169px;
	height: 334px;
	border: 1px solid #d4d4d4;
	float: left;
	overflow: auto;
}
div#chat_users li {
	padding: 5px 0px 5px 25px;
	height: 1em;
	clear: left;
	background-image: url(/images/reguser.png);
	background-repeat: no-repeat;
}
div#chat_users li.admin {
	background-image: url(/images/adminuser.png);
}
div#chat_users li:hover, div#chat_users li.odd:hover {
	background-color: #C7D3E9;
}
div#chat_users li.odd{
	background-color: #EBEBEB;
}
div#chat_users li.selected{
	background-color: #C7D3E9;
}

.color0 { color: #000; }
.color1 { color: #888; }
.color2 { color: #FF0000; }
.color3 { color: #FF8888; }

/******** Tools ********/

div.tools {
	clear: both;
}
div.tools ul {
	height: 53px;
	list-style: none;
	margin: 0px 106px;
}
div.tools ul li {
	display: block;
	float: left;
}

div.tools ul li a {
	text-decoration: none;
	display: block;
	background-repeat: no-repeat;
	background-position: 2px 8px;
	padding-top: 15px;
	padding-left: 36px;
	padding-right: 15px;
	height: 28px;
	color: #000;
}
div.tools ul li:hover {
	background-image: url(/images/hover.png);
}
div.tools ul li#tool_upload div {
	background-image: url(/images/upload.png);
}
div.tools ul li#tool_download div {
	background-image: url(/images/download.png);
}
div.tools ul li#tool_info div {
	background-image: url(/images/info.png);
}
div.tools ul li#tool_search div {
	background-image: url(/images/search.png);
}
div.tools ul li#tool_refresh div {
	background-image: url(/images/refresh.png);
}
div.tools ul li#tool_sendpm a {
	background-image: url(/images/sendpm.png);
}
div.tools ul li#tool_privatechat a {
	background-image: url(/images/privatechat.png);
}
div.tools ul li#tool_userinfo a {
	background-image: url(/images/userinfo.png);
}
div.tools ul li#tool_changename a {
	background-image: url(/images/changename.png);
}
