<% view :loginFailureDialog, :pane => :dialog, :visible => false, :width => 400 do %>
	<h1><%= loc(%(Login_Failed)) %></h1>
	<p><%= loc(%(Login_Failed_Message)) %></p>
	<div class="buttons">
	  <%= button_view :outlet => true,
	    :title => loc(%(Login_Close)),
	    :default => true,
	    :width => 60,
	    :action => 'Frontend.loginController.hideFailureDialog' %>
	</div>
<% end %>
