/******** Navigation ********/
div#navigation {
    background: #444 url(/images/nav.jpg) no-repeat;
    background: none;
    border-bottom: 1px solid #ABABAB;
    height: 53px;
    font-size: 1.1em;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
div#navigation ul {
    height: 53px;
    list-style: none;
    margin: 0px 112px;
}
div#navigation ul li {
    display: block;
    float: left;
}

div#navigation ul li a {
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    background-position: 2px 18px;
    padding-top: 25px;
    padding-left: 36px;
    padding-right: 15px;
    height: 28px;
    color: #000;
}
div#navigation ul li.front div {
    background: url(/images/front-line.png) no-repeat right bottom;
}
div#navigation ul li.back {
}
div#navigation ul li.front, div#navigation ul li.front:hover {
    border-bottom: 1px solid #EAEAEA;
    background: url(/images/front.png) no-repeat;
    padding-right: 0px;
}
div#navigation ul li#chat a {
    background-image: url(/images/chat.png);
}
div#navigation ul li#private a {
    background-image: url(/images/private.png);
}
div#navigation ul li#news a {
    background-image: url(/images/news.png);
}
div#navigation ul li#files a {
    background-image: url(/images/files.png);
}
div#navigation ul li#connection a {
    background-image: url(/images/connection.png);
}
div#navigation ul li:hover {
    background-image: url(/images/hover.png);
}
